body {
  font-size: 0.8em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checklist {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.notes {
  width: 59%;
  height:inherit;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 10px 0 0;
}

.reference {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 480px;
  resize: none;
}

h6 {
  margin: auto 0;
  padding-top: 3px;
  text-align: center;

}

.select {
  background-color: rgb(255, 101, 101);
  border-radius: 2px;
  margin: 1px;
  padding: 3px;
  text-align: center;
}

.done {
  background-color: rgb(101, 255, 121);
}

.clear {
  padding: 3px;
  margin: 3px;
  width: 100%;
}

.outcomes {
  text-align: center;
  margin-top: 5px;
}

.refButton {
  margin: 2px;
}
